<section class="h_one">
  <h4 class="text-center">Latest Recipes</h4>
  <div class="d-flex justify-content-center">
    <hr class="ps p-4 text-center">
  </div>
  
  <div class="wrapper_section_one">
    <div class="scroller">
    <% @recipes.each do |recipe|%>
      <div>
          <%= link_to recipe do %>
            <%= image_tag recipe.image ,size: 250%>
          <%end%>
      </div>
      <%end%>
    </div>
  </div>
</section>

<section class="h_two">
  <div class="wrapper_section_two">
    <div class="d-flex justify-content-center P-4">
      <h5 class="">Get inspired</h5>
    </div>
      <h6 class="text-center p-4">HAND-PICKED BITS  BITES</h6>
    
      <div class="d-flex justify-content-center" >
          <span class="d-flex align-items-center">FILTER BY: </span>
          <span class="btn btn-primary btn-sm">All Recipes</span> | 
          <span class="btn btn-primary btn-sm">Traditional Recipes</span> |    
          <span class="btn btn-primary btn-sm">Meat Recipes</span> | 
          <span class="btn btn-primary btn-sm">Fish Recipes</span> | 
          <span class="btn btn-primary btn-sm">Pastry</span> 
      </div>
  </div>
    <div class="P-6 album text-muted">
      <div class="container">
        <div class="row">
          <%=render @recipes %>
        </div>
      </div>
    </div>

</section>

