
/* ...
*= require_self
*= require selectize
*= require selectize.default
*= require_tree .
*/

@import "bootstrap";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';
@import "social-share-button";

$size: 30px;

body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 180%;
}

h5{
  text-transform: uppercase;
}

.material-icons{
  color: #14c9ff;
  &:hover{
    color: #000;
  }
}

.scroller {
  width: 1000px;
  margin-top: 20px;
  margin: auto;
  div {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    font-size: 2em;
    border: #fff;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -41px;
}

.navbar
  {
  background-color: #3498db;
  height: 80px;
  margin-bottom: 300px;

    .nav-link 
        {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      
          }
}


.navbar-light .navbar-nav .nav-link{
  color: #fff;
  &:hover{
    color: #000;
    text-position: 0 -80px;
  }
}



.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

@media (max-width: 575px) {

  .navbar-light .navbar-nav .nav-link{
  color: #000;
}

 }


 #session_bg_0{
  background-color: #34495e;
  color: #fff;

    .btn-info {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
    border-radius: 58px;
    width: 150px;
}
 }
 #session_bg_1{
  color: #fff;
  height: 600px;
  background: image-url('rice_edit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 

 }
.login_parent{
  background-color:#f7f7f9;
  height: 100vh;
  position: relative;
.login_form{
  margin: 0;
    position: absolute;
    box-shadow: 7px 8px 10px rgba(136, 136, 136, 0.58);
    width: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

}

.stylish-input-group .input-group-addon{
    background: white !important; 
    width: auto;
    height: 38px;
    border-radius: 0px 18px 16px 0px;

}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  border-radius: 51px;
  height: 38px;
  

}
.stylish-input-group button{
    border:0;
    background:transparent;
    height: 37px;
    border-radius: 51px;
}
    
#container_search{

    .btn-info{
      border-radius: 12px 0px 0px 12px;
    }
}
